VITE_SUPABASE_URL=https://krtzznfujqnvcveiytfc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtydHp6bmZ1anFudmN2ZWl5dGZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc5MTE4NzAsImV4cCI6MjA2MzQ4Nzg3MH0.J1VejStVZLUBpuKm-T2WbtiEVveO4BtYVS1ZnzqzXtc